<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Squadpage met NodeJS en API</title>
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>

  <nav><img src="/assets/logo-text-light.png" alt="dsicord image" class="nav-img"></nav>
<section class="icon-container">
    <section class="logo-container">
        <img class="logo-left" src="/assets/logo-white.png" alt="">
    </section>
    <section class="logo-container-gengar">
        
    </section>
    <section class="logo-container-a">
        <p>A</p>
    </section>
    <section class="logo-container-b">
        <p>B</p>
    </section>
    <section class="logo-container-c">
        <p>C</p>
    </section>
    <section class="logo-container-FDND">
        <p>FDND</p>
    </section>
    <section class="logo-container-plus">
        <ion-icon name="add-outline" size="large"></ion-icon>
    </section>
    <section class="logo-container-compass">
        <ion-icon name="compass-outline" size="large"></ion-icon>
    </section>
</section>