<%- include('./partials/head') %>
<main>
    <section class="icon-container">
        <a href="/"><section class="logo-container">
            <img class="logo-left" src="/assets/logo-white.png" alt="">
        </section></a>
        <section class="logo-container-gengar">
            
        </section>
        <a href="squada"><section class="logo-container-a">
            <p>A</p>
        </section></a>
        <a href="squadb"><section class="logo-container-b">
            <p>B</p>
        </section></a>
        <a href="squadc"><section class="logo-container-c">
            <p>C</p>
        </section></a>
        <a href="fdnd"><section class="logo-container-FDND">
            <p>FDND</p>
        </section></a>
        <section class="logo-container-FDND">
            <ion-icon name="heart" size="large"></ion-icon>
        </section>
        <section class="logo-container-plus">
            <ion-icon name="add-outline" size="large"></ion-icon>
        </section>
        <section class="logo-container-compass">
            <ion-icon name="compass-outline" size="large"></ion-icon>
        </section>
    </section>
    <section class="content">
        <section class="friend-container">
            <ion-icon name="people-outline" size="large" class="friends"></ion-icon>
            <p>Friends</p>
        </section>
        <section class="messages">
            <p class="messages-text">Direct Messages</p>
        </section>
    </section>
    <section class="block-container">
        <section class="gengar-container"><div class="icon-block-gengar"></div><p>Digimon Go</p><p>leden: 2</p></section>
        <section class="a-container"><a href="squada" class="down"><div class="icon-block-a"><p>A</p></div><p>Squad A</p><p>leden: 2</p></a></section>
        <section class="b-container"><a href="squadb" class="down"><div class="icon-block-a"><p>B</p></div><p>Squad B</p><p>leden: 2</p></a></section>
        <section class="c-container"><a href="squadc" class="down"><div class="icon-block-a"><p>C</p></div><p>Squat C</p><p>leden: 2</p></a></section>
        <section class="fdnd-container"><a href="fdnd" class="down"><div class="icon-block-FDND"><p>FDND</p></div><p>FDND Docenten</p><p>leden: 2</p></a></section>
        <section class="like-container"><div class="icon-block-a"><p>A</p></div><p>Geliked</p><p>leden: 2</p></section>
    </section>
</main>

<%- include('./partials/foot') %>