<%- include('./partials/head') %>

<section class="content">
    <section class="friend-container">
        <ion-icon name="people-outline" size="large" class="friends"></ion-icon>
        <p>Friends</p>
    </section>
    <section class="messages">
        <p class="messages-text">Direct Messages</p>
    </section>
    <section class="block-container">
        <section class="gengar-container"></section>
        <section class="a-container"></section>
        <section class="b-container"></section>
        <section class="c-container"></section>
        <section class="fdnd-container"></section>
    </section>
</section>



<%- include('./partials/foot') %>