<%- include('./partials/head') %>

<nav><img src="/assets/logo-text-light.png" alt="dsicord image" class="nav-img"></nav>
<section class="icon-container">
    <section class="logo-container">
        <img class="logo-left" src="/assets/logo-white.png" alt="">
    </section>
    <section class="logo-container-gengar">
        
    </section>
    <section class="logo-container-a">
        <p>A</p>
    </section>
    <section class="logo-container-b">
        <p>B</p>
    </section>
    <section class="logo-container-c">
        <p>C</p>
    </section>
</section>



<%- include('./partials/foot') %>