<%- include('./partials/head') %>
<main>
    <section class="icon-container">
        <section class="logo-container">
            <img class="logo-left" src="/assets/logo-white.png" alt="">
        </section>
        <section class="logo-container-gengar">
            
        </section>
        <section class="logo-container-a">
            <p>A</p>
        </section>
        <section class="logo-container-b">
            <p>B</p>
        </section>
        <section class="logo-container-c">
            <p>C</p>
        </section>
        <section class="logo-container-FDND">
            <p>FDND</p>
        </section>
        <section class="logo-container-FDND">
            <ion-icon name="heart" size="large"></ion-icon>
        </section>
        <section class="logo-container-plus">
            <ion-icon name="add-outline" size="large"></ion-icon>
        </section>
        <section class="logo-container-compass">
            <ion-icon name="compass-outline" size="large"></ion-icon>
        </section>
    </section>
    <section class="content">
        <section class="friend-container">
            <ion-icon name="people-outline" size="large" class="friends"></ion-icon>
            <p>Friends</p>
        </section>
        <section class="messages">
            <p class="messages-text">Direct Messages</p>
        </section>
    </section>
    <section class="block-container">
        
    </section>
</main>

<%- include('./partials/foot') %>