:root {
    --main-light: #424549;
    --main : #99aab5;
    --main-dark: #2c2f33;
    --almost-black: #23272a;
    --blue-main: #7289da;
    --main-hover: #99AAb5;
  }

  html, body {
    height: 100%;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background-color: var(--main-light);
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--almost-black);
    width: 100%;
    /* position: absolute; */
}

.nav-img {
    width: 3.5em;
    margin-left: .8em;
    margin-top: .2em;
}

.icon-container {
    margin-left: 0%;
    width: 5em;
    height: 98%;
    background-color: var(--almost-black);
    /* position: absolute; */
    /* margin-top: 1em; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    margin-top: 1em;
    width: 3.5em;
    height: 3.5em;
    background-color: var(--main-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: .25s;
}

.logo-container:hover {
    background-color: var(--blue-main);
    border-radius: 25%;
}

.logo-left {
    width: 55%;
    height: 40%;
}

.logo-container-gengar {
    margin-top: 1em;
    width: 3.5em;
    height: 3.5em;
    background-color: var(--main-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url("assets/gengar.jpg");
    background-position: center;
    background-size: cover;
    transition: .25s;
}

.logo-container-FDND {
    font-weight: 600;
}

.logo-container-a, .logo-container-b, .logo-container-c {
    font-weight: 750;
}

.logo-container-a, .logo-container-b, .logo-container-c, .logo-container-FDND {
    margin-top: .6em;
    width: 3.5em;
    height: 3.5em;
    background-color: #66e5bf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    color: #050542;
    font-family:Arial, Helvetica, sans-serif;
    transition: .25s;
}

.logo-container-plus, .logo-container-compass {
    margin-top: .6em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    transition: .25s;
    background-color: var(--main-light);
}

ion-icon {
    color: rgb(11, 190, 11);
}

.logo-container-a:hover, .logo-container-b:hover, .logo-container-c:hover, .logo-container-FDND:hover, .logo-container-gengar:hover, .logo-container-plus:hover, .logo-container-compass:hover {
    border-radius: 25%;
}

.logo-container-plus:hover, .logo-container-compass:hover {
    background-color: rgb(11, 190, 11);
}

ion-icon:hover {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

.content {
    width: 23%;
    max-width: 220px;
    height: 98%;
    background-color: var(--main-dark);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.friends {
    margin: .5em;
    color: var(--main);
}

.friend-container {
    margin-top: .5em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: var(--main);
    width: 95%;
    border-radius: .5em;
}

.messages {
    color: var(--main);
    width: 95%;
    border-radius: .5em;
    margin-top: .5em;
}

.messages-text {
    font-size: .8em;
    margin-left: 1em;
}

.friend-container:hover {
    color: white;
    background-color: var(--main-light);
}

.messages-text:hover {
    color: white;
}

.block-container {
    position: relative;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "gengar a b"
    "c fdnd likes";
    /* background-color: yellow; */
    /* padding: 1rem; */
}

.block-container section {
    width: 100%;
    height: 100%;
    position: relative;
}

.gengar-container {
    grid-area: gengar;
    background-color: purple;
}

.a-container {
    background-color: #050542;
    grid-area: a;
}

.b-container {
    grid-area: b;
    background-color: #7289da;
}

.c-container {
    grid-area: c;
    background-color: pink;
}

.fdnd-container {
    grid-area: fdnd;
    background-color: hotpink;
}

.like-container {
    grid-area: likes;
    background-color: orange;
}
